<h2>Assigned Tasks</h2>
<div class="container">
    <div class="row">
      <div class="col-md-20" *ngFor="let task of tasks">
        <div class="card mb-3">
          <div class="card-body" *ngIf="task.completed === 0">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text"><b>Description:</b> {{ task.description }}</p>
            <p class="card-text"><b>Status:</b> {{ task.status }}</p>
            <p class="card-text"><b>Created Date:</b> {{ task.createdDate | date:'dd-MM-yyyy ' }}</p>
            <p class="card-text"><b>Due Date:</b> {{ task.dueDate | date:'dd-MM-yyyy '}}</p>
            <button button class="btn btn-link" (click)="edit(task.taskId)">Edit task</button>
            <button button class="btn btn-link float-right" (click)="delete(task.taskId)">Delete task</button>
            <div *ngIf="task.completed === 0">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" (change)="markAsRead(task.taskId)" id="completeCheckbox">
                  <label class="form-check-label" for="completeCheckbox">Mark as Completed</label>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<h2>Completed Tasks</h2>
<div class="container">
    <div class="row">
      <div class="col-md-20" *ngFor="let task of tasks">
        <div class="card-completed mb-3" >
          <div class="card-body " *ngIf="task.completed === 1">
            <h3 class="card-title">{{ task.title }}</h3>
            <p class="card-text"><b>Description:</b> {{ task.description }}</p>
            <p class="card-text"><b>Status:</b> {{ task.status }}</p>
            <p class="card-text"><b>Created Date:</b> {{ task.createdDate | date:'dd-MM-yyyy ' }}</p>
            <p class="card-text"><b>Due Date:</b> {{ task.dueDate | date:'dd-MM-yyyy '}}</p>
            <p class="card-text"><b>Completed Date:</b> {{ task.completedDate | date:'dd-MM-yyyy '}}</p>
            <button button class="btn btn-link float-right" (click)="delete(task.taskId)">Delete task</button>
          </div>
        </div><br>
      </div>
    </div>
  </div>

  